@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-bootstrap-grid";

@import "./theme.css";
@import "./variables.css";

@import "./safe.css";
@import "./utilities.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
}
