/* define font family into layout.tsx */

/* font size and radius */
:root {
  --font-base: 16;
  --font-scale: 1.2;
  --radius: 0.6rem;
}

/* default colors */
:root {
  --body-color: #ffffff;
  --primary-color: #000000;
  --border-color: #a6b0c3;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-color: #f8fafc;
  --dark-color: #1c1f26;
  --accent-color: #007bff;
  --muted-color: #d0d7e6;
  --danger-color: #e63946;
  --success-color: #3a9d23;
  --warning-color: #d69f00;

  --text-default-color: #2c3e50;
  --text-light-color: #737373;
  --text-dark-color: #1a1a1a;
  --text-muted-color: #6b6b6b;
  --text-white-color: #ffffff;
}

/* darkmode colors */
.dark {
  --body-color: #1c1c1c;
  --primary-color: #ffffff;
  --border-color: #3d3d3d;
  --white-color: #000000;
  --black-color: #ffffff;
  --light-color: #212121;
  --dark-color: #f2f2f2;
  --accent-color: #00aaff;
  --muted-color: #2e2e2e;
  --danger-color: #ff0000;
  --success-color: #00ff00;
  --warning-color: #ffaa00;

  --text-default-color: #b3b3b3;
  --text-light-color: #b3b3b3;
  --text-dark-color: #ffffff;
  --text-muted-color: #b3b3b3;
  --text-white-color: #000000;
}
